@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  background-color: black;
  color: #fff;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: monospace;
}

#base {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-family: "Fascinate", cursive;
  font-size: 3em;
  margin-bottom: 1em;
}

#lengths-control {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

#length-control {
  display: inline-block;
}
#session-label,
#break-label {
  margin: 0 1em;
  font-size: 1.5em;
}
.btn-level {
  display: inline-block;
  color: #fff;
  background: transparent;
  border: none;
}

#session-length,
#break-length {
  font-size: 1.3em;
}

.timer {
  border: 2px solid;
  height: 10em;
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 1em 0;
}

.author {
  font-family: "Sacramento", cursive;
  font-size: 2em;
}

.author a {
  text-decoration: none;
  color: #fff;
}
